[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
requests = "*"
flask-restplus = "*"
blinker = "*"

[dev-packages]
pytest-flask = "*"
pytest-lazy-fixture = "*"
pbr = "*"
meinheld = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
